@font-face {
	font-family: 'MyBlog';
	src:url('../fonts/MyBlog.eot?dshw40');
	src:url('../fonts/MyBlog.eot?#iefixdshw40') format('embedded-opentype'),
		url('../fonts/MyBlog.woff?dshw40') format('woff'),
		url('../fonts/MyBlog.ttf?dshw40') format('truetype'),
		url('../fonts/MyBlog.svg?dshw40#MyBlog') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'MyBlog';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-mouse:before {
	content: "\e600";
}
.icon-directions:before {
	content: "\e601";
}
.icon-mail:before {
	content: "\e602";
}
.icon-paperplane:before {
	content: "\e603";
}
.icon-pencil:before {
	content: "\e604";
}
.icon-paperclip:before {
	content: "\e605";
}
.icon-user:before {
	content: "\e606";
}
.icon-users:before {
	content: "\e607";
}
.icon-user-add:before {
	content: "\e608";
}
.icon-vcard:before {
	content: "\e609";
}
.icon-star:before {
	content: "\e60a";
}
.icon-star2:before {
	content: "\e60b";
}
.icon-thumbsup:before {
	content: "\e60c";
}
.icon-house:before {
	content: "\e60d";
}
.icon-search:before {
	content: "\e60e";
}
.icon-bell:before {
	content: "\e60f";
}
.icon-link:before {
	content: "\e610";
}
.icon-tools:before {
	content: "\e611";
}
.icon-tag:before {
	content: "\e612";
}
.icon-camera:before {
	content: "\e613";
}
.icon-moon:before {
	content: "\e614";
}
.icon-bag:before {
	content: "\e615";
}
.icon-eye:before {
	content: "\e616";
}
.icon-calendar:before {
	content: "\e617";
}
.icon-bolt:before {
	content: "\e618";
}
.icon-key:before {
	content: "\e619";
}
.icon-rocket:before {
	content: "\e61a";
}
.icon-rss:before {
	content: "\e61b";
}
.icon-lock:before {
	content: "\e61c";
}
.icon-lock-open:before {
	content: "\e61d";
}
.icon-checkmark:before {
	content: "\e61e";
}
.icon-cross:before {
	content: "\e61f";
}
.icon-minus:before {
	content: "\e62e";
}
.icon-plus:before {
	content: "\e62f";
}
.icon-cross2:before {
	content: "\e630";
}
.icon-erase:before {
	content: "\e631";
}
.icon-warning:before {
	content: "\e632";
}
.icon-install:before {
	content: "\e633";
}
.icon-cloud:before {
	content: "\e620";
}
.icon-upload:before {
	content: "\e621";
}
.icon-arrow-up-upload:before {
	content: "\e634";
}
.icon-arrow-down:before {
	content: "\e635";
}
.icon-arrow-up:before {
	content: "\e636";
}
.icon-arrow-left:before {
	content: "\e622";
}
.icon-uniE623:before {
	content: "\e623";
}
.icon-twitter:before {
	content: "\e624";
}
.icon-facebook:before {
	content: "\e625";
}
.icon-facebook2:before {
	content: "\e626";
}
.icon-googleplus:before {
	content: "\e627";
}
.icon-pinterest:before {
	content: "\e628";
}
.icon-tumblr:before {
	content: "\e629";
}
.icon-spotify:before {
	content: "\e62a";
}
.icon-instagram:before {
	content: "\e62b";
}
.icon-dropbox:before {
	content: "\e62c";
}
.icon-paypal:before {
	content: "\e62d";
}
.icon-check:before {
	content: "\f00c";
}
.icon-times:before {
	content: "\f00d";
}
.icon-power-off:before {
	content: "\f011";
}
.icon-road:before {
	content: "\f018";
}
.icon-edit:before {
	content: "\f044";
}
.icon-arrow-left2:before {
	content: "\f060";
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-arrow-up2:before {
	content: "\f062";
}
.icon-arrow-down2:before {
	content: "\f063";
}
.icon-mail-forward:before {
	content: "\f064";
}
.icon-plus2:before {
	content: "\f067";
}
.icon-minus2:before {
	content: "\f068";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-thumbs-o-up:before {
	content: "\f087";
}
.icon-twitter2:before {
	content: "\f099";
}
.icon-facebook3:before {
	content: "\f09a";
}
.icon-bell2:before {
	content: "\f0a2";
}
.icon-wrench:before {
	content: "\f0ad";
}
.icon-cut:before {
	content: "\f0c4";
}
.icon-copy:before {
	content: "\f0c5";
}
.icon-paperclip2:before {
	content: "\f0c6";
}
.icon-fighter-jet:before {
	content: "\f0fb";
}
.icon-rocket2:before {
	content: "\f135";
}
.icon-dropbox2:before {
	content: "\f16b";
}
.icon-apple:before {
	content: "\f179";
}
.icon-windows:before {
	content: "\f17a";
}
.icon-android:before {
	content: "\f17b";
}
.icon-linux:before {
	content: "\f17c";
}
