<div class="contenido mitad">
		  	
			<div id="wrap">
  		    <div id='form_wrap'>
    			   <form id="formContacto" name="formContacto" action="">
    			      <h2>Hola Estimado cliente!</h2>
    				    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        				    <tr>
        				        <input type="text" name="asunto" placeholder="Asunto" autofocus>
        					      <div class="aviso error" id="aviso1">Olvidaste poner el asunto</div>
        				    </tr>
        				    <tr>
        				        <td><input type="text" name="nombre" placeholder="Nombre Completo">
        					      <div class="aviso error" id="aviso2">Necesitamos tu nombre</div>
        				    </td>
        				    </tr>
          				  <tr>
          				      <td><input type="text" name="correo" placeholder="Correo electronico">
          					    <div class="aviso error" id="aviso3">Requerimos tu correo</div>
          				  </td>
          				  </tr>
          				  <tr>
          				      <td><textarea name="comentario" rows="5" placeholder="Comentario"></textarea>
          					    <div class="aviso error" id="aviso4">Falto tu comentario</div>
          				  </td>
          				  </tr>
          				  <tr>
          				  <td><input type="button" name="button" id="btnEnviarNewContacto" value="Enviar">
          				      <img id="loader" src="img/loader2.gif" alt=""><!--Loarder-->
          					    <div class="aviso exito" id="exito1">Tu mensaje ha sido mandado con exito!</div>
          				  </td>
          				  </tr>
      				</table>
    			</form>
  		</div>
	</div>

</div><!--CONTENIDO-->