<div class="wrapper">
	  <div class="main">

      <section class="page1">
        <div class="page_container">
          <h2>Nuestra familia ”Zamorano Carrillo” somos profesionistas del área de ingeniería y arquitectura que apasionados por una buena taza de café decidimos en febrero de 2012 abrir la primera barra de café de especialidad al oriente de la Ciudad de México. </h2>
  	    </div>
      </section>
	    
	    <section class="page2">
	      <div class="page_container">
          <h2>Café Capitel es el nombre de este proyecto que surge de la pasión de conocer y valorar las cualidades que obtiene la cereza de café cuando el clima, la altitud, la humedad, y condiciones únicas que se presentan en una región especifica de nuestro Querido México, seguido de un esmero cuidado, selección y tueste, brindan esencias propias al grano.</h2>
	      </div>
      	</section>
	    
	    <section class="page3">
	      <div class="page_container">
          <h2>Como baristas, capturamos y ponemos en tu taza de café la intensidad del sabor, cuerpo, crema y aroma que nuestra mezcla te brinda, sola o acompañada. Como diseñadores, te brindamos un espacio acogedor y tranquilo donde podrás degustar nuestros productos, cuya calidad es apreciada por los más exigentes paladares.</h2> 
  	    </div>
      </section>

    </div>
</div>