<div class="contenido mitad">
        <div id="horarios">
          <h3>Horarios</h3>
          <p>- Lunes a Viernes -</p>
          <p>7am a 8pm</p>
          <p>- Sabados y Domingos -</p>
          <p>8am a 9pm</p>
        </div>
        <div id="social">
          <div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/CafeCapitel/photos/a.168906603267310.1073741828.166239613534009/320622104762425/?type=1" data-width="466"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CafeCapitel/photos/a.168906603267310.1073741828.166239613534009/320622104762425/?type=1">Publicación</a> de <a href="https://www.facebook.com/CafeCapitel">Café Capitel</a>.</div></div>
        </div>
      </div><!--CONTENIDO-->