<div class="contenido">
	<h2>Productos!</h2>
	
		<div id="slider">
			<section id="dg-container">
				<div class="dg-wrapper">
					<a href="#/"><img src="img/produts/menu/1.jpg"><div>Bebidas Calientes</div></a>
					<a href="#/"><img src="img/produts/menu/2.jpg"><div>Bebidas Frias</div></a>
					<a href="#/"><img src="img/produts/menu/3.jpg"><div>Reposteria</div></a>
					<a href="#/"><img src="img/produts/menu/4.jpg"><div>Alimentos para acompañar</div></a>
				</div>
			</section>
		</div><!--SLIDER-->
 			
         <div id="des-slider">
            <h3>Descripcion</h3>
            	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, deleniti eos, accusantium odio molestias cupiditate accusamus sapiente non magni omnis maxime tenetur voluptates, totam aut. Modi repellendus dolores aspernatur assumenda?
        </div><!--DESCRIPCION DEL SLIDER-->

</div><!--CONTENIDO-->